<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Ruby for Beginners</title>

    <meta name="description" content="Dev Bootcamp Evening Workshop Series: Ruby for Beginners">
    <meta name="author" content="Sam Blackman">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/blood.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <style>
      strong  { font-weight: normal; color: orange; font-variant: normal; }
      .breakout { color: orange; }
      .reveal a:not(.image) { color: orange; }
      .reveal pre {box-shadow:none; margin-bottom: 0;}
      .reveal code { border: 4px solid white; }
    </style>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

<div class="reveal">

      <div class="slides">
        <section>
          <h1>Ruby for Beginners</h1>
          <h3>Building a Web Server</h3>
          <p>
            <small>Brought to you by <a href="http://devbootcamp.com">Dev Bootcamp</a></small>
          </p>
        </section>

        <!-- Intro / Outline -->
        <section>
          <h2>Hi everyone!</h2>
          <p>Some "rules" for today:</p>
          <ul>
            <li>We are here to support your learning!</li>
            <li>Ask <strong>every single question</strong> you have.</li>
            <li>Take advantage of the amazing person next to you!</li>
            <li>If you want to do it, <strong>do it</strong>. Have fun with this.</li>
          </ul>
        </section>

        <section>
          <h2>Welcome!</h2>
          <p>Let's get to know each other!</p>
          <ul>
            <li>What's your name, and who are you?</li>
            <li>What do you want to get out of this session?</li>
            <li>What's <strong>something quirky</strong> about you?</li>
          </ul>
        </section>

        <section>
          <h2>Things to download</h2>
          <ul>
            <li><a href="http://www.sublimetext.com/2" target="_blank">Sublime Text 2</a></li>
            <li><a href="https://www.ruby-lang.org/en/documentation/installation/" target="_blank">Ruby</a></li>
            <li><a href="http://bit.ly/dbc-sinatra-intro" target="_blank">First breakout files — bit.ly/dbc-sinatra-intro</a></li>
            <li><a href="http://bit.ly/dbc-twitter-sinatra" target="_blank">Second breakout files — bit.ly/dbc-twitter-sinatra</a></li>
          </ul>
        </section>

        <section>
          <h2>Outline</h2>
          <ul>
            <li class="fragment">Tools for learning and writing Ruby</li>
            <li class="fragment">The role Ruby plays in the World Wide Web</li>
            <li class="fragment">The simplest of servers with Sinatra</li>
            <li class="fragment breakout">Breakout - build a simple server!</li>
            <li class="fragment">Different ways to represent data in Ruby</li>
            <li class="fragment">Loops, conditionals and methods</li>
            <li class="fragment">Common Ruby core library methods</li>
            <li class="fragment breakout">Breakout - write an algorithm!</li>
            <li class="fragment">Interacting with Twitter using Ruby</li>
            <li class="fragment">Serving tweets to your website</li>
            <li class="fragment">Posting tweets from your website</li>
            <li class="fragment breakout">Breakout - implement your algorithm!</li>
          </ul>
        </section>

        <section>
          <h2>Ruby tools</h2>
          <ul>
            <li>A command line interface (Terminal / Shell)</li>
            <li>The Ruby interpreter</li>
            <li>A text editor (Sublime Text)</li>
            <li>A web browser (Chrome)</li>
            <li>Ruby gems</li>
            <li>Research techniques</li>
          </ul>
        </section>

        <section>
          <h2>Research techniques</h2>
          <p>Google search and autocomplete will quickly become your best friend</p>
          <img src="img/ruby-google-autocomplete.jpg">
        </section>

        <section>
          <h2>Research techniques</h2>
          <p>Your ultimate goal is a super fast <strong>feedback loop</strong>.</p>
        </section>

        <section>
          <h2>Research techniques</h2>
          <p>Scan through the Google search results and work out which look most relevant to your issue.</p>
          <img src="img/ruby-google-search-results.jpg">
        </section>

        <section>
          <h2>Research techniques</h2>
          <p><span class="breakout">Cmd+Click</span> (Mac) or <span class="breakout">Ctrl+Click</span> a link to open it in a new tab. Open what you think are the three most promising results.</p>
          <img src="img/ruby-google-search-results-tabs.jpg">
        </section>

        <section>
          <h2>Research techniques</h2>
          <p>In my experience, I've found the following resources to be particularly helpful:</p>
          <ul>
            <li>Stack Overflow</li>
            <li>ruby-doc.org ("The Ruby Docs")</li>
            <li>Guides and blog posts</li>
          </ul>
        </section>

        <section>
          <h2>Research techniques</h2>
          <p>A quick note on Stack Overflow...</p>
          <p>Always remember that the section right at the top of the page is the question, not the answer!</p>
        </section>

        <section>
          <img src="img/stackoverflow.jpg">
        </section>

        <section>
          <h2>Our goal</h2>
          <p>Our goal today is to build a <strong>web server</strong> that interacts with the <strong>Twitter API</strong> and sends HTML pages back to the browser.</p>
          <aside class="notes">Show the functionality of the running site.</aside>
        </section>

        <section>
          <h2>Ruby's role</h2>
          <p>To understand <strong>Ruby's role</strong> on the Web, we need to understand the Web.</p>
        </section>

        <section>
          <h2>Request / Response</h2>
          <img src="img/browser-server-db.png">
        </section>

        <section>
          <h2>Specifically today</h2>
          <img src="img/browser-server-twitter.png">
        </section>

        <section>
          <h2>Ruby's role</h2>
          <img src="img/browser-server-twitter-ruby.png">
        </section>

        <section>
          <img src="img/sinatra-logo.jpg">
          <p><strong>Sinatra</strong> is a framework written in Ruby that allows us to build a server that, upon receiving a request from a browser, will respond with a page of HTML.</p>
        </section>

        <section>
          <h2>Installing Sinatra</h2>
          <p>If you haven't already done so, go to your <strong>terminal</strong> or <strong>command line</strong> and type:</p>
          <pre>
            <code class="bash">
gem install sinatra
            </code>
          </pre>
          <p>when that's done you might as well install the twitter gem, too, since we'll be using it later:</p>
          <pre>
            <code class="bash">
gem install twitter
            </code>
          </pre>
          <aside class="notes">Windows users may need to open the "Start Command Prompt With Ruby" executable added by the Ruby installer.</aside>
        </section>

        <section>
          <h2>Routes</h2>
          <p>When your server <strong>receives a request</strong> from a browser, it needs to know what action to perform based on that request. This is called <strong>routing</strong>.</p>
        </section>

        <section>
          <h2>Routes</h2>
          <p>The text and slashes after the domain name in a URL is known as the <strong>path</strong>. Your server looks at the path to determine where to <strong>route a request</strong>.</p>
          <img src="img/url-syntax.png">
        </section>

        <section>
          <h2>Routes</h2>
          <p>If your Sinatra server received a request like this:</p>
          <pre>
            <code class="http">
http://localhost:9393/hello
            </code>
          </pre>
          <p>...it would look for a route like this:</p>
          <pre>
            <code class="ruby">
get '/hello' do

end
            </code>
          </pre>
        </section>

        <section>
          <h2>Routes</h2>
          <p>Likewise, if your Sinatra server received a request like this:</p>
          <pre>
            <code class="http">
http://localhost:9393/this/is/a/really/long/path
            </code>
          </pre>
          <p>...it would look for a route like this:</p>
          <pre>
            <code class="ruby">
get '/this/is/a/really/long/path' do

end
            </code>
          </pre>
        </section>

        <section>
          <h2>Response</h2>
          <p>Once your server has <strong>matched a path</strong>, it runs whatever Ruby code is between the `do` and the `end`. It will <strong>respond to the browser</strong> with the last line in the route.</p>
        </section>

        <section>
          <h2>Response</h2>
          <p>You can respond with a simple string:</p>
          <pre>
            <code class="ruby">
get '/hello' do
  "Why hello there, friendly Web traveler!"
end
            </code>
          </pre>
        </section>

        <section>
          <h2>Response</h2>
          <p>...or with an HTML file:</p>
          <pre>
            <code class="ruby">
get '/hello' do
  erb :hello
end
            </code>
          </pre>
          <p>Sinatra will look in your "views" folder for an HTML file called "hello.erb" and send it back to the browser to display.</p>
        </section>

        <section>
          <h2>Running your server</h2>
          <p>Once you have a route or two set up, you need to run your server so it <strong>listens for requests</strong>.</p>
        </section>

        <section>
          <h2>Running your server</h2>
          <p>In your terminal, navigate to your server file's location and type "ruby" followed by the filename, eg:</p>
          <pre>
            <code class="bash">
ruby server.rb
            </code>
          </pre>
          <p>Your server will now be waiting for requests. You can press <span class="breakout">Ctrl+C</span> to stop your server.</p>
        </section>

        <section>
          <h2>Make a request</h2>
          <p>Head to your browser and type the address you saw in your terminal, plus one of your routes, for example:</p>
          <pre>
            <code class="http">
http://localhost:4567/hello
            </code>
          </pre>
          <p>Your server will respond to your request!</p>
        </section>

        <section>
          <h1>omg let's build</h1>
          <a href="http://bit.ly/dbc-sinatra-intro">bit.ly/dbc-sinatra-intro</a>
          <aside class="notes"></aside>
        </section>

        <section>
          <h2>Challenge</h2>
          <ul>
            <li>Create three GET routes in the server.rb file</li>
            <li>In one of the routes, respond with a simple string</li>
            <li>In another route, respond with hello.erb (already there)</li>
            <li>In the final route, respond with your own HTML file</li>
          </ul>
        </section>

        <section>
          <h2>Coding Basics</h2>
          <h4>(through a Ruby lens)</h4>
          <p>A bunch of jargon:</p>
          <ul>
            <li class="fragment">"variable"</li>
            <li class="fragment">"string"</li>
            <li class="fragment">"integer"</li>
            <li class="fragment">"float"</li>
            <li class="fragment">"boolean"</li>
            <li class="fragment">"return-value"</li>
            <li class="fragment">"array"</li>
            <li class="fragment">"hash"</li>
          </ul>
          <p class="fragment">What does it all mean!?</p>
        </section>

        <section>
          <h2>Variables</h2>
          <p>A variable is a way of <strong>naming things</strong> so we have a reference to them later.</p>
        </section>

        <section>
          <h2>Variables</h2>
          <p>Think of variables as a <strong>label</strong> we can write on and apply to different things.</p>
          <img src="img/post-it.png" width="50%"/>
        </section>

        <section>
          <h2>Variables</h2>
          <p>Let's come back to variables once we learn about a few different <strong>data types</strong> we can label.</p>
        </section>

        <section>
          <h2>Strings</h2>
          <p>A string is simply a <strong>sequence of characters</strong>. Here are some examples of strings in Ruby:</p>
          <pre>
            <code class="ruby">
"This is a string."

"123456789abcde"

"!@#$%^&*()"

""

'A string can also be in single quotes'
            </code>
          </pre>
        </section>

        <section>
          <h2>Strings</h2>
          <p>Strings are one of the most common <strong>data types</strong> in every programming language. Get used to seeing, using and manipulating strings!
          </p>
        </section>

        <section>
          <h2>Symbols</h2>
          <p><strong>Symbols</strong> in Ruby are similar to strings. They are also a collection of characters. This is what Ruby symbols look like:</p>
          <pre>
            <code class="ruby">
:a_symbol

:another_symbol

:name
            </code>
          </pre>
        </section>

        <section>
          <h2>Symbols</h2>
          <p>Whereas strings are intended to be manipulated (for example, reversed), symbols can never change. Symbols are intended to be <strong>identifiers for things</strong>. We will see this when we talk about <strong>hashes</strong>.</p>
        </section>

        <section>
          <h2>Integers</h2>
          <p><strong>Integers</strong> are another very common data type that you will see in every language. This is what they look like in Ruby:</p>
            <pre>
              <code class="ruby">
42
100
10000
-256
              </code>
            </pre>
            <p>Integers are numbers without fractional components.</p>
        </section>

        <section>
          <h2>Floats</h2>
          <p>A <strong>float</strong>, or "floating point", is how computers represent numbers with fractional components. In Ruby, floats look like this:</p>
          <pre>
              <code class="ruby">
1.1
3.141592653589793
5.5
99.999
−128.6
              </code>
            </pre>
        </section>

        <section>
          <h2>Numeric methods</h2>
          <p>You can perform simple arithmetic on integers and floats using:</p>
            <table>
              <tr>
                <td>Addition</td>
                <td>+</td>
              </tr>
              <tr>
                <td>Subtraction</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Multiplication</td>
                <td>*</td>
              </tr>
              <tr>
                <td>Division</td>
                <td>/</td>
              </tr>
              <tr>
                <td>Modulus</td>
                <td>%</td>
              </tr>
            </table>
        </section>

        <section>
          <h2>Numeric methods</h2>
          <p>You can also perform simple comparison operations on numbers using:</p>
            <table>
              <tr>
                <td>Equality</td>
                <td>==</td>
              </tr>
              <tr>
                <td>Inequality</td>
                <td>!=</td>
              </tr>
              <tr>
                <td>Greater than</td>
                <td>></td>
              </tr>
              <tr>
                <td>Greater than or equal to</td>
                <td>>=</td>
              </tr>
              <tr>
                <td>Less than</td>
                <td><</td>
              </tr>
              <tr>
                <td>Less than or equal to</td>
                <td><=</td>
              </tr>
            </table>
        </section>

        <section>
          <h2>Try it yourself!</h2>
          <p>Open up <strong>IRB</strong> by typing `irb` in your terminal. You can also go to <a href="https://repl.it/languages/Ruby">repl.it</a> for an online version.</p>
          <img src="img/irb.jpg">
          <aside class="notes">
            What does the modulus operator do?
            What happens if you multiply a string by a number?
            What happens if you multiply a number by a string?
            Can you add a number to a string in Ruby?
          </aside>
        </section>

        <section>
          <h2>Pop quiz!</h2>
          <ul>
            <li>What does the modulus operator do?</li>
            <li>What happens if you multiply a string by a number?</li>
            <li>What happens if you multiply a number by a string?</li>
            <li>Can you add a number to a string?</li>
            <li>Do comparison operators work with strings?</li>
          </ul>
        </section>

        <section>
          <h2>Return values</h2>
          <p>Every time you press enter in IRB, you see the <strong>return value</strong> of expression you evaluated.</p>
        </section>

        <section>
          <h2>Return values</h2>
          <p>What <strong>data type</strong> did Ruby return when you used a <strong>comparison operator</strong>?</p>
          <div class="fragment">
            <p>Comparison operators will always return a</p>
            <p><strong>Boolean</strong></p>
            <p>true or false</p>
          </div>
        </section>

        <section>
          <h2>Booleans</h2>
          <p>Note that in Ruby:</p>
          <ul>
            <li>the value `nil` counts as false</li>
            <li>everything else counts as true</li>
          </ul>
          <p>This can be useful when we look at <strong>conditionals</strong> later.</p>
        </section>

        <section>
          <h2>Back to variables</h2>
          <p>Now we know how to create a few data types, let's save them for later in some <strong>variables</strong>.</p>
        </section>

        <section>
          <h2>Variables</h2>
          <p>There are different types of variables in Ruby:</p>
          <ul>
            <li><span class="breakout">local</span> variables</li>
            <li><span class="breakout">instance</span> variables</li>
            <li><span class="breakout">class</span> variables</li>
            <li><span class="breakout">global</span> variables</li>
          </ul>
        </section>

        <section>
          <h2>Variables</h2>
          <p>The difference between variable types relates to which parts of your code can access those variables. This is known as <strong>scope</strong>.</p>
        </section>

        <section>
          <h2>Variables</h2>
          <p>Today we'll use <strong>local variables</strong> and <strong>instance variables</strong>. Let's look at how to declare these variables in Ruby.</p>
        </section>

        <section>
          <h2>Variable syntax</h2>
          <p>
            The syntax for <strong>declaring variables</strong> in Ruby is like this:
          </p>
          <pre>
            <code class="ruby">
# this is a local variable
magic_number = 42

# this is an instance variable
@instance_variable = "My first instance variable!"
            </code>
          </pre>
        </section>

        <section>
          <h2>A note on naming</h2>
          <p>Naming variables in <strong>snake_case</strong> is a Ruby convention.</p>
        </section>

        <section>
          <h2>Storing things</h2>
          <p>You can directly assign values to <strong>variables</strong>...</p>
          <pre>
            <code class="ruby">
seen_it = "...like we've already seen"
            </code>
          </pre>
          <p>...or store <strong>return values</strong> of expressions in <strong>variables</strong></p>
          <pre>
            <code class="ruby">
num = 3
other_num = 4
multiplier = 6
answer_to_the_ultimate_question = (num + other_num) * multiplier
            </code>
          </pre>
          <aside class="notes">
            What value is stored in answer_to_the_ultimate_question?
          </aside>
        </section>

        <section>
          <h2>Data structures</h2>
          <p>Let's look at two more <strong>data structures</strong>:</p>
          <ul>
            <li>Arrays</li>
            <li>Hashes</li>
          </ul>
          <aside class="notes">Note, I said data structures, not data types. There is a subtle difference.</aside>
        </section>

        <section>
          <h2>Data structures</h2>
          <p>For the following data structures, we are going to learn how to create, or <strong>instantiate</strong>, them and then learn the following operations:</p>
          <ul>
            <li>Accessing values</li>
            <li>Updating values</li>
            <li>Inserting values</li>
            <li>Removing values</li>
          </ul>
        </section>

        <section>
          <h2>Arrays</h2>
          <p>Just like a <strong>variable</strong> holds a single value, an <strong>array</strong> holds a collection of values.</p>
        </section>

        <section>
          <h2>Arrays</h2>
          <p>Think of an array as a bunch of buckets, each of which stores a value.</p>
          <img src="img/original-buckets.jpg">
        </section>

        <section>
          <h2>Arrays</h2>
          <p>If we were to put the first eight characters of the alphabet into these buckets, it would look like this in Ruby:</p>
          <pre>
            <code class="ruby">
letters = ["a","b","c","d","e","f","g","h"]
            </code>
          </pre>
          <p>An <strong>array</strong> of the characters "a" through "h" is now stored in the local variable `letters`. This is an array of <strong>strings</strong>.</p>
        </section>

        <section>
          <h2>Arrays</h2>
          <h4>Accessing values</h4>
          <p>Every element in an array is stored in a specific position known as an <strong>index</strong>. Arrays are indexed starting at 0 and incrementing by 1 for each position.</p>
          <table>
            <tr>
              <td>&nbsp;0</td>
              <td>&nbsp;1</td>
              <td>&nbsp;2</td>
              <td>&nbsp;3</td>
              <td>&nbsp;4</td>
              <td>&nbsp;5</td>
              <td>&nbsp;6</td>
              <td>&nbsp;7</td>
            </tr>
            <tr>
              <td>"a"</td>
              <td>"b"</td>
              <td>"c"</td>
              <td>"d"</td>
              <td>"e"</td>
              <td>"f"</td>
              <td>"g"</td>
              <td>"h"<br></td>
            </tr>
          </table>
        </section>

        <section>
          <h2>Arrays</h2>
          <p>You refer to each <strong>element</strong> by its <strong>index</strong>.</p>
          <img src="img/array-buckets.jpg">
        </section>

        <section>
          <h2>Arrays</h2>
          <h4>Accessing values</h4>
          <pre>
            <code class="ruby">
letters = ["a","b","c","d","e","f","g","h"]
letters[0] # returns "a"
letters[7] # returns "h"
            </code>
          </pre>
        </section>

        <section>
          <h2>Arrays</h2>
          <h4>Updating values</h4>
          <pre>
            <code class="ruby">
letters = ["a","b","c","d","e","f","g","h"]

# if we want to change "a" and "b":
letters[0] = "apples"
letters[1] = "bananas"

# letters now contains:
["apples","bananas","c","d","e","f","g","h"]
            </code>
          </pre>
        </section>

        <section>
          <h2>Arrays</h2>
          <h4>Inserting values</h4>
          <pre>
            <code class="ruby">
letters = ["a","b","c","d"]

letters << "elephant" # alternatively letters.push("elephant")

# letters now contains:
["a","b","c","d","elephant"]
            </code>
          </pre>
          <p>This is technically the <strong>push</strong> method, but when written as above, most people would say they are <strong>shoveling</strong> a string into the letters array. The <strong><<</strong> operator is known as the <strong>shovel operator</strong>.</p>
        </section>

        <section>
          <h2>Arrays</h2>
          <h4>Inserting values</h4>
          <pre>
            <code class="ruby">
letters = ["a","b","c","d", "elephant"]

letters.unshift("zebra")

# letters now contains:
["zebra","a","b","c","d", "elephant"]
            </code>
          </pre>
          <p>The <strong>unshift</strong> method adds an element to the start of an array.</p>
          <aside class="notes">What element is in index zero of the array now?</aside>
        </section>

        <section>
          <h2>Arrays</h2>
          <h4>Removing values</h4>
          <pre>
            <code class="ruby">
letters = ["a","b","c","d"]

char = letters.pop

# letters now contains:
["a","b","c"]

# and the local variable `char` contains:
"d"
            </code>
          </pre>
          <p>The <strong>pop</strong> method removes an element from the end of an array.</p>
          <aside class="notes">What element is in index zero of the array now?</aside>
        </section>

        <section>
          <h2>Arrays</h2>
          <h4>Removing values</h4>
          <pre>
            <code class="ruby">
letters = ["a","b","c","d"]

char = letters.shift

# letters now contains:
["b","c","d"]

# and `char` contains:
"a"
            </code>
          </pre>
          <p>The <strong>shift</strong> method removes an element from the start of an array.</p>
          <aside class="notes">What element is in index zero of the array now?</aside>
        </section>

        <section>
          <h3>A quick note on Methods</h3>
        </section>

        <section>
          <h2>Methods</h2>
          <p>Everything in Ruby has some built in behavior called <strong>methods</strong>. We've already seen a few array methods with push, pop, shift and unshift.</p>
        </section>

        <section>
          <h2>Method syntax</h2>
          <pre>
            <code class="ruby">
letters = ["a","b","c"]

letters.push("d")

# --------------------------
letters # the array that we're calling our method on
.       # the dot to signify we're about to call a method
push    # the name of the method
("d")   # the actual calling of the method with a string argument
            </code>
          </pre>
          <p>We <strong>call a method</strong> with a dot, followed by the method name, followed by a set of parentheses. Sometimes we put other data inside the parens, known as <strong>arguments</strong>; other times methods don't require arguments.</p>
        </section>

        <section>
          <h2>Method syntax</h2>
          <p>In Ruby, when a method takes no arguments, we can call that method without parentheses.</p>
          <pre>
            <code class="ruby">
letters = ["a","b","c","d"]

letters.pop
            </code>
          </pre>
        </section>

        <section>
          <h2>Hashes</h2>
          <p><strong>Hashes</strong> in Ruby are similar to arrays in that they contain a collection of values.</p>
          <p>However, unlike arrays which are <strong>ordered by index</strong>, the values in hashes are stored in <strong>keys</strong> that you name yourself.</p>
        </section>

        <section>
          <h2>Hashes</h2>
          <p>In our metaphor we give each bucket a name. This is the <strong>key</strong>. The item inside the bucket is its <strong>value</strong>. So, a Ruby hash is a collection of <strong>key value pairs</strong>.</p>
          <img src="img/object-buckets.jpg">
          <aside class="notes">If this collection of buckets was a hash, what do you think it would represent?</aside>
        </section>

        <section>
          <h2>Hashes</h2>
          <p>Let's <strong>instantiate</strong> a hash in Ruby:</p>
          <pre>
            <code class="ruby">
person = {:name => "Sam", :age => 28, :sex => "male"}
            </code>
          </pre>
          <p>This <strong>hash</strong> contains three <strong>key value pairs</strong> and the hash is stored in the local variable `person`.</p>
          <aside class="notes">
            <ul>
              <li>What data type are the keys in this hash?</li>
              <li>What data type are the values in this hash?</li>
            </ul></aside>
        </section>

        <section>
          <h2>Hashes</h2>
          <p>In Ruby, you can use any data type for keys in a hash, but it is common to use <strong>symbols</strong>.</p>
          <pre>
            <code class="ruby">
person = {:name => "Sam", :age => 28, :sex => "male"}
            </code>
          </pre>
          <p>The arrows separating the keys and values are colloquially known as <strong>hash rockets</strong>.</p>
        </section>

        <section>
          <h2>Hashes</h2>
          <p>Because it is so common to use symbols as keys in hashes, there is a shortcut to create these hashes without using the hash rocket notation:</p>
          <pre>
            <code class="ruby">
person = {name: "Sam", age: 28, sex: "male"}
            </code>
          </pre>
          <p>This works in Ruby 1.9 and higher.</p>
        </section>

        <section>
          <h2>Hashes</h2>
          <h4>Accessing values</h4>
          <pre>
            <code class="ruby">
person = {name: "Sam", age: 28, sex: "male"}

person[:name]  # returns "Sam"
            </code>
          </pre>
        </section>

        <section>
          <h2>Hashes</h2>
          <h4>Updating values</h4>
          <pre>
            <code class="ruby">
person = {name: "Sam", age: 28, sex: "male"}
person[:age] = 29

# person now contains:
{name: "Sam", age: 29, sex: "male"}

person[:age]  # returns 29
            </code>
          </pre>
        </section>

        <section>
          <h2>Hashes</h2>
          <h4>Inserting values</h4>
          <pre>
            <code class="ruby">
person = {name: "Sam", age: 28, sex: "male"}
person[:gender] = "cis male"

# person now contains
{name: "Sam", age: 28, sex: "male", gender: "cis male"}
            </code>
          </pre>
        </section>

        <section>
          <h2>Hashes</h2>
          <h4>Removing values</h4>
          <pre>
            <code class="ruby">
person = {name: "Sam", age: 28, sex: "male", gender: "cis male"}
person.delete(:sex)  # returns "male"

# person now contains:
{name: "Sam", age: 28, gender: "cis male"}

person[:sex]  # returns nil
            </code>
          </pre>
          <p>The <strong>delete</strong> method removes a <strong>key value pair</strong> from a hash and returns the value.</p>
          <p>Note that if you try to <strong>access a key that doesn't exist</strong>, the hash will return <strong>nil</strong>.</p>
          <aside class="notes">
            It's relatively rare to use `delete`. Most often you are reading or accessing data. Second most, adding or inserting data. Third most, updating data. Rarely, deleting or removing data.
          </aside>
        </section>

        <section>
          <h2>Other names</h2>
          <p>These things we call <strong>hashes</strong> in Ruby can be called dictionaries, hash tables, or maps in other languages.</p>
          <p class="fragment">The closest equivalent to a Ruby hash in JavaScript is a <strong>JavaScript object</strong>.</p>
          <p class="fragment">"Objects" in Ruby are more complex and we won't discuss them in this workshop.</p>
        </section>

        <section>
          <h1>Break & Challenge</h1>
        </section>

        <section>
          <h2>Optional Challenge</h2>
          <p>Inside a local variable named `dogs`, model the following things with arrays, hashes, symbols and strings:</p>
          <ul>
            <li>Three dogs, each with:
              <ul>
                <li>a name</li>
                <li>a breed</li>
                <li>a couple of tricks it knows</li>
              </ul>
            </li>
          </ul>
          <p>Take <strong>10 minutes</strong> to stretch, get some food and go to the restroom.</p>
        </section>

        <section>
          <h2>Up next</h2>
          <ul>
            <li>Loops / enumerable methods</li>
            <li>Conditionals</li>
            <li>Defining methods</li>
          </ul>
        </section>

        <section>
          <h2>Loops</h2>
          <p>Doing certain things over and over and over and over is a <a target="_blank" href="https://youtu.be/gs9NgGZkErU?t=54s">very common thing when coding</a></p>
        </section>

        <section>
          <h2>Loops</h2>
          <p>We will look at the syntax for three Ruby <strong>loops</strong>:</p>
          <ul>
            <li>times</li>
            <li>each</li>
            <li>map</li>
          </ul>
        </section>

        <section>
          <h2>Loops</h2>
          <p>This is the syntax for a <strong>times loop</strong>:</p>
          <pre>
            <code class="ruby">
10.times do
  puts "Hello!"
end
            </code>
          </pre>
          <p>The part from the `do` to the `end` is called a <strong>block</strong>.</p>
        </section>

        <section>
          <h2>Loops</h2>
          <p>If you want a counter with a <strong>times loop</strong>, you name a parameter inside the block like this:</p>
          <pre>
            <code class="ruby">
10.times do |counter|
  puts "Here we go. Let's count: #{counter}"
end
            </code>
          </pre>
        </section>

        <section>
          <h2>Aside:</h2>
          <h3>String interpolation</h3>
          <p>If you want to insert Ruby code or the value of a variable inside a string, you do so with <strong>string interpolation</strong>.</p>
        </section>

        <section>
          <h3>String interpolation</h3>
          <p>This:</p>
          <pre>
            <code class="ruby">
dog_speak = "woof!"
puts "Dogs say #{dog_speak}"
            </code>
          </pre>
          <p>is a shortcut for this:</p>
          <pre>
            <code class="ruby">
dog_speak = "woof!"
puts "Dogs say " + dog_speak
            </code>
          </pre>
        </section>

        <section>
          <h2>Loops</h2>
          <p>One of the most common operations in Ruby is <strong>iterating over a collection</strong>. Here is how to iterate over an array using the <strong>each</strong> method:</p>
          <pre>
            <code class="ruby">
greetings = ["hello", "kia ora", "aloha", "talofa", "malo"]

greetings.each do |word|
  puts "You can say hi by saying #{word}!"
end
            </code>
          </pre>
          <aside class="notes">Talk through the slide and point out what is going on on each line.</aside>
        </section>

        <section>
          <h2>Loops</h2>
          <p>A common pattern in Ruby is to transform every element in an array to something else. For example, if we to turn every greeting into all caps, we could do this:</p>
          <pre>
            <code class="ruby">
greetings = ["hello", "kia ora", "aloha", "talofa", "malo"]

shouty_greetings = []

greetings.each do |word|
  shouty_greetings << word.upcase
end

# shouty_greetings now contains:
["HELLO", "KIA ORA", "ALOHA", "TALOFA", "MALO"]

# and greetings still contains:
["hello", "kia ora", "aloha", "talofa", "malo"]
            </code>
          </pre>
        </section>

        <section>
          <h2>Loops</h2>
          <p>In fact, this pattern of transforming every element of an array is so common, it has its own method called <strong>map</strong>.</p>
          <pre>
            <code class="ruby">
greetings = ["hello", "kia ora", "aloha", "talofa", "malo"]

shouty_greetings = greetings.map do |word|
  word.upcase
end

# shouty_greetings contains:
["HELLO", "KIA ORA", "ALOHA", "TALOFA", "MALO"]

# and greetings contains:
["hello", "kia ora", "aloha", "talofa", "malo"]
            </code>
          </pre>
        </section>

        <section>
          <h2>Block style</h2>
          <p>Remember the bit between the `do` and `end` is a <strong>block</strong>? If a block only has one line in it, you can write it like:</p>
          <pre>
            <code class="ruby">
greetings.each { |word| puts "You can say hi by saying #{word}!" }

# compare curly braces above to do/end below:

greetings.each do |word|
  puts "You can say hi by saying #{word}!"
end
            </code>
          </pre>
          <p>The code above and below the comment are the same. <strong>Curly braces</strong> and <strong>do/end</strong> are both ways to write blocks.</p>
        </section>

        <section>
          <h2>Block style</h2>
          <p>Here's an elegant version of our <strong>map method</strong>:</p>
          <pre>
            <code class="ruby">
greetings = ["hello", "kia ora", "aloha", "talofa", "malo"]

shouty_greetings = greetings.map { |word| word.upcase }
            </code>
          </pre>
        </section>

        <section>
          <h2>Conditionals</h2>
          <p>Sometimes you want your code to do different things depending on different inputs. This is called <strong>control flow</strong>.</p>
        </section>

        <section>
          <h2>Conditionals</h2>
          <p>Maybe you need to authenticate an administrator based on a password:</p>
          <pre>
            <code class="ruby">
admin_password = "ilikepies"
admin_logged_in = false

puts "Please enter your password for admin access..."
input = gets.chomp

if input == admin_password
  admin_logged_in = true
  puts "Welcome to the system, administrator."
else
  puts "Sorry, that is not the password."
end
            </code>
          </pre>
          <aside class="notes">Talk through the if else pattern on the screen</aside>
        </section>

        <section>
          <h2>Conditionals</h2>
          <p>Perhaps we only want to make greetings starting with "K" all caps and reverse everything else...</p>
          <pre>
            <code class="ruby">
greetings = ["hello", "kia ora", "aloha", "talofa", "malo"]

wacky_greetings = []

greetings.each do |word|
  if word[0].downcase == "k"
    wacky_greetings << word.upcase
  else
    wacky_greetings << word.reverse
  end
end

# wacky_greetings now contains:
["olleh", "KIA ORA", "ahola", "afolat", "olam"]
            </code>
          </pre>
        </section>

        <section>
          <h2>Methods</h2>
        </section>

        <section>
          <h2>What is a method?</h2>
          <p>A <strong>method</strong> is a selection of code that you can save and run later, potentially multiple times.</p>
        </section>

        <section>
          <h2>Method syntax</h2>
          <p>We <strong>define a method</strong> like this:</p>
          <pre>
            <code class="ruby">
def create_greeting(name)
  return "Welcome to my website, #{name}!"
end
            </code>
          </pre>
          <p>This method takes a string as <strong>input</strong> and returns a different string as <strong>output</strong>.</p>
        </section>

        <section>
          <h2>Calling a method</h2>
          <p>We <strong>call a method</strong> by typing its name, followed by parentheses if it takes <strong>arguments</strong>.</p>
          <pre>
            <code class="ruby">
def create_greeting(name)
  return "Welcome to my website, #{name}!"
end

create_greeting("Sam")     # returns "Welcome to my website, Sam!"

create_greeting("Ashley")  # returns "Welcome to my website, Ashley!"

create_greeting("David")   # returns "Welcome to my website, David!"

create_greeting("Stranger").upcase
            </code>
          </pre>
          <aside class="notes">What does that last line return?</aside>
        </section>

        <section>
          <h2>Arguments</h2>
          <p>The <strong>input</strong> that we give to methods are called <strong>arguments</strong>.</p>
          <pre>
            <code class="ruby">
def sum(num1, num2)

end
            </code>
          </pre>
          <p>`num1` and `num2` are the <strong>parameters</strong> in this function that show us that we can pass it two arguments.</p>
        </section>

        <section>
          <h2>Return values</h2>
          <p>The output from a function is its <strong>return value</strong>.</p>
          <pre>
            <code class="ruby">
def sum(num1, num2)
  return num1 + num2
end
            </code>
          </pre>
          <p>Usually we manipulate our input in some useful way and then <strong>return</strong> that data.</p>
          <aside class="notes">Note as in this example, a method can have multiple parameters. These parameters act as variables within the function and any arguments you pass to this function when you call it will be accessible via variables/parameters.</aside>
        </section>

        <section>
          <h2>Return values</h2>
          <p>Even if you don't specify the key word `return`, Ruby will always return the <strong>last line evaluated</strong> in a method. This is called <strong>implicit return</strong>. So this works:</p>
          <pre>
            <code class="ruby">
def sum(num1, num2)
  num1 + num2
end
            </code>
          </pre>
        </section>

        <section>
          <h2>Methods</h2>
          <p>Methods don't actually need parameters or a return statement. Here's an example:</p>
          <pre>
            <code class="ruby">
def shout_something_random
  random_phrases = ["kajinga", "hooty tooty", "meowzers", "zingpop"]
  puts random_phrases.sample.upcase
end
            </code>
          </pre>
        </section>

        <section>
          <h2>Useful Ruby methods</h2>
          <p>Here are a few useful methods already built into Ruby:</p>
          <pre>
            <code class="ruby">
"this was a string".split # => ["this","was","a","string"]

["this","was","an","array"].join # => "thiswasanarray"

["this","was","an","array"].join("-") # => "this-was-an-array"

# and a few we already saw:

"quiet library voice".upcase # => "QUIET LIBRARY VOICE"

"bolton".reverse # => "notlob"

["luck", "of", "the", "draw"].sample # => a randomly chosen element

["hey", "hi", "yo"].map { |word| word.upcase } # => ["HEY", "HI", "YO"]
            </code>
          </pre>
          <p>You will find many more great examples in the <strong>Ruby Docs</strong>.</p>
          <aside class="notes">You'll also find these methods on your reference sheet.</aside>
        </section>

        <section>
          <h2>Challenge</h2>
          <p>Create a method called `reverse_words` that reverses every word in a string. For example:</p>
          <pre>
            <code class="ruby">
# INPUT:
"I'd like to buy an apple"

# OUTPUT:
"d'I ekil ot yub na elppa"
            </code>
          </pre>
            <ul>
              <li>It should accept a string as an argument</li>
              <li>It should return a string</li>
              <li><strong>Stretch goal:</strong> don't reverse words that start with "@" or "#" or "http"</li>
              <li><strong>Super stretch:</strong> instead of reversing words, apply pig latin rules to them</li>
            </ul>
        </section>

        <section>
          <h2>Twitter API</h2>
          <img src="img/small-twitter.jpg">
          <p>When we talk about the <strong>Twitter API</strong> we are talking about the ability to interface with Twitter's data and systems.</p>
        </section>

        <section>
          <h2>Twitter API</h2>
          <p>We can send a message to Twitter asking for some data, or telling Twitter to tweet something on our behalf. We are essentially remotely <strong>calling methods</strong> that Twitter has written.</p>
        </section>

        <section>
          <h2>Two things</h2>
          <ul>
            <li>Download the 2nd file set: <a href="http://bit.ly/dbc-twitter-sinatra">bit.ly/dbc-twitter-sinatra</a></li>
            <li>Sign up to use the Twitter API <a href="">apps.twitter.com</a></li>
          </ul>
        </section>

        <section>
          <h2>New app setup</h2>
          <ul>
            <li>Create a new app</li>
            <li>Create access tokens</li>
            <li>Ensure permissions are read and write</li>
          </ul>
        </section>

        <section>
          <h2>Warning</h2>
          <p>Keep the four keys you generate safe.</p>
          <ul>
            <li>Do not publish these keys on the Internet.</li>
            <li>Do not upload code that contains the keys.</li>
            <li>People with these keys can "hijack" your Twitter account and tweet as you.</li>
          </ul>

          <aside class="notes">Show people how to revoke access to apps, particularly if they have been compromised.</aside>
        </section>

        <section>
          <h2>IRB & Twitter</h2>
          <p>Let's use IRB to see if we can interact with Twitter using our new app keys.</p>
        </section>

        <section>
          <h2>IRB & Twitter</h2>
          <p>In IRB, first require the Twitter gem. Then replace the strings below with the keys from the app you set up.</p>
          <pre>
            <code class="ruby">
require 'twitter'

@client = Twitter::REST::Client.new do |config|
  config.consumer_key        = "YOUR_CONSUMER_KEY"
  config.consumer_secret     = "YOUR_CONSUMER_SECRET"
  config.access_token        = "YOUR_ACCESS_TOKEN"
  config.access_token_secret = "YOUR_ACCESS_SECRET"
end
            </code>
          </pre>
        </section>

        <section>
          <h2>IRB & Twitter</h2>
          <p>Now we should have an authenticated Twitter client stored in the <strong>@client instance variable</strong>.</p>
          <pre>
            <code class="ruby">
# this should return us our last 20 tweets
@client.user_timeline
# hmmm, they are tweet objects... how do we get the text out?

# this should send out a tweet
@client.update("omg I am tweeting from the command line. So cool!")
# let's go look...
            </code>
          </pre>
          <p>Who needs a browser when you can tweet from the command line!?</p>
        </section>

        <section>
          <h2>Sinatra & Twitter</h2>
          <p>Let's integrate the <strong>Twitter gem</strong> with <strong>Sinatra</strong>.</p>
          <pre>
            <code class="ruby">
require 'sinatra'
require 'twitter'

@client = Twitter::REST::Client.new do |config|
  config.consumer_key        = "YOUR_CONSUMER_KEY"
  config.consumer_secret     = "YOUR_CONSUMER_SECRET"
  config.access_token        = "YOUR_ACCESS_TOKEN"
  config.access_token_secret = "YOUR_ACCESS_SECRET"
end
            </code>
          </pre>
          <p>At the top of our server.rb file, we need to require both Sinatra and Twitter. And let's reuse the code that we know worked from IRB.</p>
        </section>

        <section>
          <h2>Sinatra & Twitter</h2>
          <p>When we visit the root path of our site, we want to grab all of our most recent tweets.</p>
          <pre>
            <code class="ruby">
get '/' do
  @tweets = @client.user_timeline.map { |tweet| tweet.text }
  erb :index
end
            </code>
          </pre>
          <p>Notice two things here:</p>
          <ul>
            <li>We are <strong>mapping</strong> over the array of tweet objects and changing them all to plain strings.</li>
            <li>We have saved the result in an <strong>instance variable</strong> called @tweets</li>
          </ul>
        </section>

        <section>
          <h2>Sinatra & Twitter</h2>
          <p>If you open your index.erb file, you'll notice there is already some HTML written for you. You should also notice some bits in between that look like Ruby.</p>
          <pre>
            <code class="html">
<% if @tweets %>
  <% @tweets.each do |tweet| %>
    <p><%= tweet %></p>
  <% end %>
<% end %>
            </code>
          </pre>
          <p>This is called <strong>embedded Ruby</strong> (erb) and is a lot like string interpolation. Any instance variables you declare in your routes, will be accessible in these erb files.</p>
        </section>

        <section>
          <h2>Sinatra & Twitter</h2>
          <p>Let's start our server and see if it works!</p>
          <p>In your terminal, navigate to the right folder and run:</p>
          <pre>
            <code class="bash">
ruby server.rb
            </code>
          </pre>
          <p>Remember, you can press <span class="breakout">Ctrl+C</span> to stop your server.</p>
        </section>

        <section>
          <h2>Your algorithm</h2>
          <p>Now let's integrate the algorithm you wrote to reverse the words in a string! Copy and paste your method at the bottom of your server.rb file.</p>
          <pre>
            <code class="ruby">
get '/' do
  @tweets = @client.user_timeline.map { |tweet| tweet.text }
  erb :index
end

def reverse_words(sentence)
  # your awesome code here...
end
            </code>
          </pre>
        </section>

        <section>
          <h2>Your algorithm</h2>
          <p>Inside the <strong>map block</strong> now you can call your own method to reverse the tweets!</p>
          <pre>
            <code class="ruby">
get '/' do
  @tweets = @client.user_timeline.map do |tweet|
    reverse_words(tweet.text)
  end
  erb :index
end

def reverse_words(sentence)
  # your awesome code here...
end
            </code>
          </pre>
          <p>Restart your server and see what happens when you visit your site...</p>
        </section>

        <section>
          <h2>Sending tweets</h2>
          <p>You'll notice there is already a form on the page. What happens right now when you try to submit that form?</p>
          <img class="fragment" src="img/sinatra-ditty.jpg">
        </section>

        <section>
          <h2>Sending tweets</h2>
          <p>Let's write that route!</p>
          <pre>
            <code class="ruby">
post '/' do
  @client.update(reverse_words(params[:tweet]))
  redirect '/'
end
            </code>
          </pre>
          <p>You'll notice this is a <strong>POST route</strong>. That's because we are creating something new: <strong>a tweet</strong>!</p>
        </section>

        <section>
          <h2>Sending tweets</h2>
          <pre>
            <code class="ruby">
post '/' do
  @client.update(reverse_words(params[:tweet]))
  redirect '/'
end
            </code>
          </pre>
          <p>There's some new syntax here, too:</p>
          <ul>
            <li>the data from our form gets stored in a hash called the <strong>params hash</strong></li>
            <li>we are taking the data from the form, reversing the words and then using the Twitter gem to tweet it</li>
            <li>the keyword <strong>redirect</strong> sends our server to run the code in our <strong>get '/'</strong> route.</li>
          </ul>
        </section>

        <section>
          <h2>Resources to learn more</h2>
          <ul>
            <li>Codecademy</li>
            <li>Code School</li>
            <li>Treehouse</li>
            <li>Stack Overflow</li>
            <li>Ruby Docs</li>
            <li>Guides and blog posts</li>
            <li>Google</li>
            <li>Playing around!</li>
          </ul>
        </section>

        <section>
          <h2>Thanks for joining us!</h2>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
